.container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.join_img {
    display: block;
    margin: 20px auto;
    width: 100%;
    border-radius: 250px;
}

.join-btn {
    border: none;
    background-color: #0A9D2B;
    padding: 15px;
    border-radius: 6px;
    width: 150px;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
}

.join-btn:active {
    background-color: #088424;
}

@media only screen and (min-width: 768px) {
    .join_img {
        max-height: 500px;
        width: fit-content;
    }
}