{% extends 'base.html' %}
{% load static %}
{% block title %}Pill Dispenser{% endblock %}
{% block styles %}
    <link href="{% static 'css/pill-dispenser.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
<div class="form-container">
  <h2 class="title">Patient Medicine Dispenser</h2>

  <form class="form" method="post">
      {% csrf_token %}
    <div class="patient-name">
    	<input type="text" placeholder="Enter Patient name"  required class="input-field">
    </div>

    <div class="medicine-list">
      <label for="medicineSelect" class="form-label">Medication:</label>
      <select id="medicineSelect" name="medicine" class="input-field">
        <option value="1">Medicine 1</option>
        <option value="2">Medicine 2</option>
        <option value="3">Medicine 3</option>
      </select>
    </div>

    <div class="time-select">
      <div class="form-label">Medication Time:</div>
      <input type="radio" name="medication-time" value="now" id="now" required>
      <label for="now" class="gap">Now</label>

      <input type="radio" name="medication-time" value="schedule" id="schedule" required>
      <label for="schedule">Schedule</label>
      <input type="time" class="time-input" name="time">
    </div>

    <button onclick="publishMessage()" type="submit" class="submit-button">Add Medicine</button>
  </form>
</div>
</main>
{% endblock %}

{% block scripts %}
  <script>

  </script>
{% endblock %}
